<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message Form Page</title>
</head>
<body>
    <div th:replace="base :: header"></div>
    <br /><br />
    <form action="#" th:action="@{/process}" th:object="${message}" method="post">
        <input type="hidden" th:field="*{id}" />
        Content :<textarea rows="3" th:field="*{content}" />
            <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span><br /><br />
        Due Date :<input type="text" th:field="*{dueDate}" />
            <span th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></span><br /><br />
        Sent By :<input type="text" th:field="*{sentby}" />
            <span th:if="${#fields.hasErrors('sentby')}" th:errors="*{sentby}"></span><br /><br />
        <input type="submit" value="Submit" />
    </form>
    <br /><br />
    <div th:replace="base :: footer"></div>
</body>
</html>
